[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.42.1"
pandas = "*"
matplotlib = "*"
numpy = "*"
fastf1 = "*"
seaborn = "*"
requests = "*"
beautifulsoup4 = "*"
regex = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
